#
# Goodix IST30XX Touchscreen driver
#

config TOUCHSCREEN_ZINITIX_BT541
	tristate "ZINITIX BT541 I2C Touchscreen"
	depends on I2C
	help
	  Say Y here if you have Zinitix BT541 I2C touchscreen,
	  such as BT541, connected to your system.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called BT541.