CONFIG_SEC_FORTUNA_PROJECT=y
CONFIG_MACH_FORTUNA_EUR_OPEN=y

CONFIG_SEC_GPIO_SETTINGS=y

# MUIC
CONFIG_SM5502_MUIC=y
CONFIG_MUIC_SUPPORT_RUSTPROOF=y
CONFIG_USBID_STANDARD_VER_01=y

# LCD
#CONFIG_PANEL_S6E88A0_AMS452EF01_QHD=y
#CONFIG_MDNIE_LITE_TUNING=y
#CONFIG_ESD_RECOVERY=y
CONFIG_PANEL_HX8389C_GH9607501A_QHD=y
CONFIG_PANEL_S6D78A0_GH9607501A_QHD=y
CONFIG_FB_MSM_MDSS_SAMSUNG=y

#CONFIG_REGULATOR_FIXED_VOLTAGE=y

# INPUT (TSP, Touchkey)
CONFIG_TOUCHSCREEN_ZINITIX_BT541=y
#CONFIG_KEYBOARD_ABOV_TOUCH=y
#CONFIG_TOUCHSCREEN_TA_CALLBACK_ENABLE=y

# HALL IC
#CONFIG_SENSORS_HALL=y

# Charging/Battery
CONFIG_MFD_RT5033=y
CONFIG_MFD_RT5033_RESET_GPIO=n
CONFIG_MFD_RT5033_SLDO_VBUSDET=y
CONFIG_BATTERY_SAMSUNG=y
CONFIG_BATTERY_SAMSUNG_DATA_FILE="fortuna_battery_data.h"
CONFIG_SAMSUNG_LPM_MODE=y
CONFIG_CHARGER_RT5033=y
CONFIG_FUELGAUGE_RT5033=y
CONFIG_REGULATOR_RT5033=y

# VIBRATOR
CONFIG_MSM_VIBRATOR=y

#############################################
# SOUND FEATURE
#############################################
#CONFIG_AUDIO_SPEAKER_OUT_NXP_AMP_ENABLE=y
#CONFIG_AUDIO_QUAT_I2S_ENABLE=y
#############################################

# SENSOR
CONFIG_SENSORS=y
CONFIG_SENSORS_CORE=y
#CONFIG_SENSORS_CM36652=y
#CONFIG_SENSORS_CM36652_LEDA_EN_GPIO=y
# BMC150
CONFIG_SENSORS_BMA2X2=y
CONFIG_SENSORS_BMM050=y
#CONFIG_INPUT_BMA2x2_ACC_ALERT_INT=y
CONFIG_SENSORS_GP2A002=y
CONFIG_SENSORS_GP2A_VDD=y

# NFC
CONFIG_SEC_NFC=y
CONFIG_SEC_NFC_I2C=y
CONFIG_SEC_NFC_USE_8916_BBCLK2=y
CONFIG_SEC_NFC_IF_I2C=y
CONFIG_SEC_NFC_PRODUCT_N5=y
CONFIG_SEC_NFC_CLK_ALWAYS_ENABLE=y

# FLASH
CONFIG_FLASHLIGHT=y
CONFIG_RT_FLASH_LED=y
CONFIG_FLED_RT5033=y
CONFIG_FLED_RT5033_EXT_GPIO=y

# CAMERA
CONFIG_IMX219=y
CONFIG_S5K5E3YX=y
#CONFIG_MSM_OTP=y

# optimize mmc block delay on resume
#CONFIG_MMC_BLOCK_DEFERRED_RESUME=y

# DUAL SIM / SINGLE SIM Detection
CONFIG_CHECK_SIMSLOT_COUNT=y
# CONFIG_CHECK_SIMSLOT_COUNT_GPIO is not set
CONFIG_CHECK_SIMSLOT_COUNT_DT=y


# SSWAP
CONFIG_SWAP=y
CONFIG_FRONTSWAP=y
CONFIG_ZSMALLOC=y
CONFIG_ZSWAP=y

# MMC
CONFIG_SEC_HYBRID_TRAY=y
