CONFIG_SEC_SERRANOVE_PROJECT=y
CONFIG_MACH_SERRANOVE3G_EUR_OPEN=y
CONFIG_RESTART_REASON_SEC_PARAM=y
# MUIC
CONFIG_SM5502_MUIC=y
CONFIG_SM5504_MUIC=y
CONFIG_MUIC_SUPPORT_RUSTPROOF=y
CONFIG_USBID_STANDARD_VER_01=y
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_OTG_WAKELOCK=y
CONFIG_MUIC_SUPPORT_CHARGING_CABLE=y

CONFIG_SEC_GPIO_SETTINGS=y

#HALL IC
CONFIG_SENSORS_HALL=y

#VIBTONZ
CONFIG_QPNP_VIBRATOR=y

#AUDIO
# CONFIG_AUDIO_SPEAKER_OUT_NXP_AMP_ENABLE is not set
CONFIG_AUDIO_QUAT_I2S_ENABLE=y
#CONFIG_RADIO_IRIS=y
#CONFIG_RADIO_IRIS_TRANSPORT=m

#IIO
CONFIG_IIO=y
CONFIG_ST_LSM6DS3_IIO=y
CONFIG_IIO_BUFFER=y
CONFIG_IIO_TRIGGER=y
CONFIG_IIO_BUFFER_CB=y
CONFIG_IIO_TRIGGERED_BUFFER=y
CONFIG_IIO_KFIFO_BUF=y

#SENSORS
CONFIG_INPUT=y
CONFIG_INPUT_MISC=y
CONFIG_INPUT_GPIO=y
CONFIG_INPUT_POLLDEV=y

#SENSORS
CONFIG_SENSORS=y
CONFIG_SENSORS_CORE=y
CONFIG_SENSORS_USE_SYMLINK=y
CONFIG_SYSFS=y
CONFIG_SENSORS_GP2A030_IIO=y
CONFIG_SENSORS_YAS_MAGNETOMETER=y

#DISPLAY
CONFIG_PANEL_S6E88A0_AMS427AP24_QHD=y

#INPUT (TSP, Touchkey)
CONFIG_TOUCHSCREEN_MXT336S=y
CONFIG_TOUCHSCREEN_ZINITIX_BT541=y
CONFIG_KEYBOARD_TC360_TKEY=y


#BATTERY
CONFIG_MFD_RT5033=y
CONFIG_MFD_RT5033_RESET_WA=y
CONFIG_BATTERY_SAMSUNG=y
CONFIG_BATTERY_SAMSUNG_DATA_FILE="serranovelte_battery_data.h"
CONFIG_SAMSUNG_LPM_MODE=y
CONFIG_CHARGER_RT5033=y
CONFIG_FUELGAUGE_RT5033=y
CONFIG_REGULATOR_RT5033=y
# CONFIG_BATTERY_SWELLING=y
CONFIG_SIOP_CHARGING_LIMIT_CURRENT=700


#CONFIG IR LED
CONFIG_SEC_FPGA_ICE40XX=y

#MMC
CONFIG_NO_DETECT_PIN=y

#CAMERA
CONFIG_S5K6A3YX=y
CONFIG_S5K4H5YB=y

# SSWAP
CONFIG_SWAP=y
CONFIG_FRONTSWAP=y
CONFIG_ZSMALLOC=y
CONFIG_ZSWAP=y

# CONFIG_AUDIO_EXT_CLK is not set
# CONFIG_SND_SOC_WCD_MBHC is not set
