CONFIG_SEC_GTEL_PROJECT=y
CONFIG_MACH_GTELWIFI_USA_OPEN=y

# HARD RESET
CONFIG_RESTART_REASON_SEC_PARAM=y

# GPIO SETTING
CONFIG_SEC_GPIO_SETTINGS=y

# MUIC
CONFIG_MUIC_SUPPORT_RUSTPROOF=y
CONFIG_USBID_STANDARD_VER_01=y
CONFIG_SM5703_MUIC=y
CONFIG_MUIC_SM5703_SUPPORT_LANHUB_TA=y
# CONFIG_MUIC_SUPPORT_VZW_INCOMPATIBLE is not set
# CONFIG_MUIC_SUPPORT_CHARGING_CABLE is not set

#Touch Key
#CONFIG_KEYBOARD_ABOV_TOUCH_A5=y

#Touch Screen
#CONFIG_TOUCHSCREEN_MMS300_A=y
CONFIG_TOUCHSCREEN_ZT7554_TS=y
CONFIG_INPUT_BOOSTER=y

# Vibrator
CONFIG_SM5703_VIBRATOR=n

#SENSORS
CONFIG_SENSORS=y
CONFIG_SENSORS_CORE=y
CONFIG_SENSORS_K2HH=y
CONFIG_SENSORS_K2HH_VDD=y
CONFIG_SENSORS_SX9500=y
CONFIG_SENSORS_SX9500_NORMAL_TOUCH_THRESHOLD=7
CONFIG_SENSORS_SX9500_INIT_TOUCH_THRESHOLD=2000
CONFIG_SENSORS_SX9500_REGULATOR_ONOFF=y
CONFIG_SENSORS_SX9500_DEFENCE_CODE_FOR_TA_NOISE=y
CONFIG_SENSORS_SX9500_WIFI=y
CONFIG_SENSORS_SX9500_WIFI_NORMAL_TOUCH_THRESHOLD=4
CONFIG_SENSORS_SX9500_WIFI_INIT_TOUCH_THRESHOLD=2000
CONFIG_SENSORS_SX9500_WIFI_REGULATOR_ONOFF=y
CONFIG_SENSORS_SX9500_WIFI_DEFENCE_CODE_FOR_TA_NOISE=y

#AUDIO
#CONFIG_AUDIO_SPEAKER_OUT_NXP_AMP_ENABLE=y
#CONFIG_AUDIO_QUAT_I2S_ENABLE=y

#DISPLAY
CONFIG_PANEL_NT51017_B4P096WX5VP09_WXGA=y

#optimize mmc block delay on resume
CONFIG_MMC_BLOCK_DEFERRED_RESUME=y

#BATTERY
CONFIG_MFD_SM5703=y
CONFIG_FUELGAUGE_SM5703=y
CONFIG_CHARGER_SM5703=y
CONFIG_REGULATOR_SM5703=y
CONFIG_BATTERY_SAMSUNG=y
CONFIG_BATTERY_SAMSUNG_DATA_FILE="gtel_battery_data.h"
CONFIG_SAMSUNG_LPM_MODE=y
CONFIG_CHARGING_VZWCONCEPT=y
CONFIG_BATTERY_SWELLING=y
CONFIG_BATTERY_SWELLING_SELF_DISCHARGING=y
CONFIG_SIOP_CHARGING_LIMIT_CURRENT=1900
CONFIG_CHARGER_SM5703_SOFT_START_CHARGING=y
CONFIG_PREVENT_SOC_JUMP=y

#FLASH
CONFIG_FLASHLIGHT=y
CONFIG_RT_FLASH_LED=y
CONFIG_FLED_RT5033=y
CONFIG_FLED_RT5033_EXT_GPIO=y

#CAMERA
CONFIG_S5K4ECGX=y
CONFIG_SR200PC20=y
CONFIG_SENSOR_8_BPP=y
CONFIG_CAMERA_SYSFS_V2=y

#IPSec
CONFIG_CRYPTO_NULL=y
#MMC
#CONFIG_SEC_HYBRID_TRAY=y


# Bluetooth deconfig
#
CONFIG_HID_SUPPORT=y
# CONFIG_BT_HCISMD=y is not set
# CONFIG_BT_HCIUART=y is not set
# CONFIG_BT_HCIUART_H4=y is not set


#APC CPR QUOTIENT
CONFIG_APC_CPR_QUOT_BOOST=y

# EXTEND SERIAL NUM LENGTH
CONFIG_EXTEND_SERIAL_NUM_16=y

# SSWAP
CONFIG_SWAP=y
CONFIG_FRONTSWAP=y
CONFIG_ZSMALLOC=y
CONFIG_ZSWAP=y
