CONFIG_SEC_GT510_PROJECT=y
CONFIG_MACH_GT510_EUR_OPEN=y

# HARD RESET
CONFIG_RESTART_REASON_SEC_PARAM=y

# MUIC
CONFIG_EXTCON=y
CONFIG_EXTCON_MAX77849=y
CONFIG_MUIC_SUPPORT_DESK_DOCK=y
CONFIG_MUIC_SUPPORT_CHARGING_CABLE=y
CONFIG_ADC_ONESHOT=y
CONFIG_MUIC_SUPPORT_RUSTPROOF=y
CONFIG_MUIC_SUPPORT_LANHUB=y

#AUDIO
CONFIG_AUDIO_SPEAKER_OUT_MAXIM_AMP_ENABLE=y
# CONFIG_AUDIO_SPEAKER_OUT_NXP_AMP_ENABLE is not set
CONFIG_AUDIO_QUAT_I2S_ENABLE=y
CONFIG_JACK_AUDIO=y

#HALL IC
CONFIG_SENSORS_HALL=y

#TSP BOOSTER
# CONFIG_COMMON_INPUT_BOOSTER is not set
# CONFIG_CPU_FREQ_LIMIT_USERSPACE is not set
# CONFIG_CPU_FREQ_LIMIT is not set

# TSP
#CONFIG_TOUCHSCREEN_MMS300=y
#CONFIG_KEYBOARD_TC360_TKEY=y
#CONFIG_TOUCHSCREEN_SYNAPTICS_S7301=y
#CONFIG_TOUCHSCREEN_SYNAPTICS_S7301_KEYS=y
#CONFIG_TOUCHSCREEN_SYNAPTICS_S7301_WORKAROUND=y
#CONFIG_TOUCHSCREEN_SYNAPTICS_S7301_KEYLED=y
#CONFIG_SEC_TOUCHSCREEN_SURFACE_TOUCH=y
CONFIG_TOUCHSCREEN_ATMEL_MXT1664T=y
CONFIG_NO_ERROR_ON_MISMATCH=y
CONFIG_DEBUG_SECTION_MISMATCH=y

#
# Specific keyboard combination reject in kernel level.
# Only processing Framework level.
#
CONFIG_USE_VM_KEYBOARD_REJECT=y

#Vibrator
CONFIG_SS_VIBRATOR=y

#LCD
CONFIG_PANEL_S6D7AA0_LTL101AT01_WXGA=y
CONFIG_PANEL_S6D7AA0_BOE_LTL101AT01_WXGA=y

# BATTERY
CONFIG_MFD_MAX77849=y
CONFIG_CHARGER_MAX77849=y
CONFIG_BATTERY_SAMSUNG=y
CONFIG_BATTERY_SAMSUNG_DATA_FILE="gt510_battery_data.h"
CONFIG_FUELGAUGE_MAX77849=y
CONFIG_FUELGAUGE_MAX77849_COULOMB_COUNTING=y
CONFIG_SAMSUNG_LPM_MODE=y
CONFIG_BATTERY_SWELLING=y
CONFIG_BATTERY_SWELLING_SELF_DISCHARGING=y
CONFIG_PREVENT_SOC_JUMP=y

#SENSOR
CONFIG_SENSORS=y
CONFIG_SENSORS_CORE=y
CONFIG_SENSORS_K2HH=y
CONFIG_SENSORS_K2HH_VDD=y
CONFIG_SENSORS_CM3323=y
CONFIG_SENSORS_TCS3490=y
CONFIG_SENSORS_SX9500_WIFI=y
CONFIG_SENSORS_SX9500_WIFI_NORMAL_TOUCH_THRESHOLD=9
CONFIG_SENSORS_SX9500_WIFI_INIT_TOUCH_THRESHOLD=800
CONFIG_SENSORS_SX9500_WIFI_REGULATOR_ONOFF=y
CONFIG_SENSORS_SX9500_WIFI_DEFENCE_CODE_FOR_TA_NOISE=y

#CAMERA
CONFIG_SR544=y
CONFIG_SR200PC20=y
CONFIG_MSM_EEPROM=n
CONFIG_MSM_OTP=y
CONFIG_SENSOR_8_BPP=y

#APC CPR QUOTIENT
CONFIG_APC_CPR_QUOT_BOOST=y

# TIMA LOG
CONFIG_ARCH_MSM8939_TIMA=y

# SSWAP
CONFIG_SWAP=y
CONFIG_FRONTSWAP=y
CONFIG_ZSMALLOC=y
CONFIG_ZSWAP=y