CONFIG_SEC_SERRANOVE_PROJECT=y
CONFIG_MACH_SERRANOVELTE_EUR_OPEN=y
CONFIG_RESTART_REASON_SEC_PARAM=y
# MUIC
CONFIG_SM5502_MUIC=y
CONFIG_SM5504_MUIC=y
CONFIG_MUIC_SUPPORT_RUSTPROOF=y
CONFIG_USBID_STANDARD_VER_01=y
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_OTG_WAKELOCK=y
CONFIG_MUIC_SUPPORT_CHARGING_CABLE=y

CONFIG_SEC_GPIO_SETTINGS=y

#HALL IC
CONFIG_SENSORS_HALL=y

#VIBTONZ
CONFIG_QPNP_VIBRATOR=y

#AUDIO
# CONFIG_AUDIO_SPEAKER_OUT_NXP_AMP_ENABLE is not set
CONFIG_AUDIO_QUAT_I2S_ENABLE=y
#CONFIG_RADIO_IRIS=y
#CONFIG_RADIO_IRIS_TRANSPORT=m

#IIO
CONFIG_IIO=y
CONFIG_ST_LSM6DS3_IIO=y
CONFIG_IIO_BUFFER=y
CONFIG_IIO_TRIGGER=y
CONFIG_IIO_BUFFER_CB=y
CONFIG_IIO_TRIGGERED_BUFFER=y
CONFIG_IIO_KFIFO_BUF=y

#SENSORS
CONFIG_INPUT=y
CONFIG_INPUT_MISC=y
CONFIG_INPUT_GPIO=y
CONFIG_INPUT_POLLDEV=y

#SENSORS
CONFIG_SENSORS=y
CONFIG_SENSORS_CORE=y
CONFIG_SENSORS_USE_SYMLINK=y
CONFIG_SYSFS=y
CONFIG_SENSORS_GP2A030_IIO=y
CONFIG_SENSORS_YAS_MAGNETOMETER=y

#DISPLAY
CONFIG_PANEL_S6E88A0_AMS427AP24_QHD=y

#INPUT (TSP, Touchkey)
CONFIG_TOUCHSCREEN_MXT336S=y
CONFIG_TOUCHSCREEN_ZINITIX_BT541=y
CONFIG_KEYBOARD_TC360_TKEY=y


#BATTERY
CONFIG_MFD_RT5033=y
CONFIG_MFD_RT5033_RESET_WA=y
CONFIG_BATTERY_SAMSUNG=y
CONFIG_BATTERY_SAMSUNG_DATA_FILE="serranovelte_battery_data.h"
CONFIG_SAMSUNG_LPM_MODE=y
CONFIG_CHARGER_RT5033=y
CONFIG_FUELGAUGE_RT5033=y
CONFIG_REGULATOR_RT5033=y
# CONFIG_BATTERY_SWELLING=y
CONFIG_SIOP_CHARGING_LIMIT_CURRENT=700

#NFC
CONFIG_NFC_PN547=y
CONFIG_NFC_PN547_8916_USE_BBCLK2=y

CONFIG_CRYPTO_GCM=y
CONFIG_XFRM_USER=y
CONFIG_NET_KEY=y
CONFIG_INET=y 
CONFIG_IP_ADVANCED_ROUTER=y 
CONFIG_IP_MULTIPLE_TABLES=y 
CONFIG_INET_AH=y 
CONFIG_INET_ESP=y 
CONFIG_INET_IPCOMP=y 
CONFIG_INET_XFRM_MODE_TRANSPORT=y 
CONFIG_INET_XFRM_MODE_TUNNEL=y 
CONFIG_INET_XFRM_MODE_BEET=y 
CONFIG_IPV6=y 
CONFIG_INET6_AH=y 
CONFIG_INET6_ESP=y 
CONFIG_INET6_IPCOMP=y 
CONFIG_INET6_XFRM_MODE_TRANSPORT=y 
CONFIG_INET6_XFRM_MODE_TUNNEL=y 
CONFIG_INET6_XFRM_MODE_BEET=y 
CONFIG_IPV6_MULTIPLE_TABLES=y 
CONFIG_NETFILTER=y 
CONFIG_NETFILTER_XTABLES=y 
CONFIG_NETFILTER_XT_MATCH_POLICY=y


#
# Bluetooth deconfig
#
CONFIG_BT=y
# CONFIG_BT_RFCOMM=y is not set
# CONFIG_BT_RFCOMM_TTY=y is not set
# CONFIG_BT_BNEP=y is not set
# CONFIG_BT_BNEP_MC_FILTER=y is not set
# CONFIG_BT_BNEP_PROTO_FILTER=y is not set
CONFIG_BT_HIDP=y
CONFIG_HID_SUPPORT=y
CONFIG_HID=y
CONFIG_HIDRAW=y
# CONFIG_BT_HCISMD=y is not set
# CONFIG_BT_HCIUART=y is not set
# CONFIG_BT_HCIUART_H4=y is not set

# Special HID drivers
CONFIG_HID_A4TECH=y
CONFIG_HID_ACRUX=y
# CONFIG_HID_ACRUX_FF is not set
CONFIG_HID_APPLE=y
CONFIG_HID_BELKIN=y
CONFIG_HID_CHERRY=y
CONFIG_HID_CHICONY=y
CONFIG_HID_PRODIKEYS=y
CONFIG_HID_CYPRESS=y
CONFIG_HID_DRAGONRISE=y
CONFIG_HID_EMS_FF=y
CONFIG_HID_ELECOM=y
CONFIG_HID_EZKEY=y
CONFIG_HID_KEYTOUCH=y
CONFIG_HID_KYE=y
CONFIG_HID_UCLOGIC=y
CONFIG_HID_WALTOP=y
CONFIG_HID_GYRATION=y
CONFIG_HID_TWINHAN=y
CONFIG_HID_KENSINGTON=y
CONFIG_HID_LCPOWER=y
CONFIG_HID_LOGITECH=y
CONFIG_HID_MAGICMOUSE=y
CONFIG_HID_MICROSOFT=y
CONFIG_HID_MONTEREY=y
CONFIG_HID_MULTITOUCH=y
CONFIG_HID_NTRIG=y
CONFIG_HID_ORTEK=y
CONFIG_HID_PANTHERLORD=y
CONFIG_HID_PETALYNX=y
CONFIG_HID_PICOLCD=y
# CONFIG_HID_PICOLCD_FB is not set
# CONFIG_HID_PICOLCD_BACKLIGHT is not set
# CONFIG_HID_PICOLCD_LCD is not set
# CONFIG_HID_PICOLCD_LEDS is not set
CONFIG_HID_QUANTA=y
CONFIG_HID_ROCCAT=y
CONFIG_HID_ROCCAT_COMMON=y
CONFIG_HID_ROCCAT_ARVO=y
CONFIG_HID_ROCCAT_KONE=y
CONFIG_HID_ROCCAT_KONEPLUS=y
CONFIG_HID_ROCCAT_KOVAPLUS=y
CONFIG_HID_ROCCAT_PYRA=y
CONFIG_HID_SAMSUNG=y
CONFIG_HID_SYNAPTICS_BT=y
CONFIG_HID_SONY=y
CONFIG_HID_SUNPLUS=y
CONFIG_HID_GREENASIA=y
CONFIG_HID_SMARTJOYPLUS=y
CONFIG_HID_TOPSEED=y
CONFIG_HID_THRUSTMASTER=y
CONFIG_HID_WACOM=y
CONFIG_HID_WACOM_POWER_SUPPLY=y
CONFIG_HID_ZAGG=y
CONFIG_HID_ZEROPLUS=y
CONFIG_HID_ZYDACRON=y
CONFIG_SEC_NET_FILTER=y
CONFIG_MSM_EVENT_TIMER=y

#CONFIG IR LED
CONFIG_SEC_FPGA_ICE40XX=y

#MMC
CONFIG_NO_DETECT_PIN=y

# FLASH
CONFIG_FLASHLIGHT=y
CONFIG_RT_FLASH_LED=y
CONFIG_FLED_RT5033=y
CONFIG_FLED_RT5033_EXT_GPIO=y

#CAMERA
CONFIG_S5K6A3YX=y
CONFIG_S5K4H5YB=y

# SSWAP
CONFIG_SWAP=y
CONFIG_FRONTSWAP=y
CONFIG_ZSMALLOC=y
CONFIG_ZSWAP=y

# CONFIG_AUDIO_EXT_CLK is not set
# CONFIG_SND_SOC_WCD_MBHC is not set
