CONFIG_SEC_A3_EUR_PROJECT=y
CONFIG_MACH_A3_EUR_OPEN=y

# SEC_GPIO
CONFIG_SEC_GPIO_SETTINGS=y

# HARD RESET
CONFIG_RESTART_REASON_SEC_PARAM=y

# MUIC
CONFIG_SM5502_MUIC=y
CONFIG_MUIC_SUPPORT_RUSTPROOF_INBATT=y
CONFIG_USBID_STANDARD_VER_01=y
CONFIG_MUIC_SUPPORT_CHARGING_CABLE=y

# HALL IC
CONFIG_SENSORS_HALL=y

# Vibrator
CONFIG_SS_VIBRATOR=y

# DUAL SIM / SINGLE SIM Detection
CONFIG_CHECK_SIMSLOT_COUNT=y
CONFIG_CHECK_SIMSLOT_COUNT_DT=y

# Power off Alarm
CONFIG_RTC_AUTO_PWRON=y
CONFIG_RTC_AUTO_PWRON_PARAM=y

# AUDIO
CONFIG_AUDIO_SPEAKER_OUT_NXP_AMP_ENABLE=y
CONFIG_AUDIO_QUAT_I2S_ENABLE=y

# SENSORS
CONFIG_SENSORS=y
CONFIG_SENSORS_CORE=y
CONFIG_SENSORS_USE_SYMLINK=y
CONFIG_SYSFS=y
CONFIG_SENSORS_CM36652=y
CONFIG_SENSORS_CM36652_LEDA_EN_GPIO=y

# BMC150
CONFIG_SENSORS_BMA2X2=y
CONFIG_SENSORS_BMM050=y
CONFIG_SENSORS_BMA2X2_ENABLE_INT1=y
CONFIG_SENSORS_ACCELEROMETER_2G=y

# DISPLAY
CONFIG_PANEL_S6E88A0_AMS452EF01_QHD=y

# INPUT (TSP, Touchkey)
CONFIG_TOUCHSCREEN_ZINITIX_BT541=y
CONFIG_KEYBOARD_ABOV_TOUCH_A3=y

# BATTERY
CONFIG_MFD_RT5033=y
CONFIG_BATTERY_SAMSUNG=y
CONFIG_BATTERY_SAMSUNG_DATA_FILE="a3_battery_data.h"
CONFIG_SAMSUNG_LPM_MODE=y
CONFIG_CHARGER_RT5033=y
CONFIG_FUELGAUGE_RT5033=y
CONFIG_REGULATOR_RT5033=y
CONFIG_MFD_RT5033_RESET_GPIO=y
CONFIG_MFD_RT5033_SLDO_VBUSDET=n
CONFIG_BATTERY_SWELLING=y

# NFC
CONFIG_NFC=y
CONFIG_SEC_NFC=y
CONFIG_SEC_NFC_I2C=y
CONFIG_SEC_NFC_USE_8916_BBCLK2=y
CONFIG_SEC_NFC_IF_I2C=y
CONFIG_SEC_NFC_PRODUCT_N5=y

# FLASH
CONFIG_FLASHLIGHT=y
CONFIG_RT_FLASH_LED=y
CONFIG_FLED_RT5033=y
CONFIG_FLED_RT5033_EXT_GPIO=y

# CAMERA
#CONFIG_MSM_OTP is not set
CONFIG_IMX219=y
CONFIG_S5K5E3YX=y

# Bluetooth
CONFIG_HID_SUPPORT=y
# CONFIG_BT_HCISMD is not set
# CONFIG_BT_HCIUART is not set
# CONFIG_BT_HCIUART_H4 is not set

# MMC
CONFIG_SEC_HYBRID_TRAY=y

# SSWAP
CONFIG_SWAP=y
CONFIG_FRONTSWAP=y
CONFIG_ZSMALLOC=y
CONFIG_ZSWAP=y
