CONFIG_SEC_FORTUNA_PROJECT=y
CONFIG_MACH_FORTUNA3G_EUR=y

# HARD RESET
CONFIG_RESTART_REASON_SEC_PARAM=y

# SS Pinctrl Driver
CONFIG_SEC_GPIO_SETTINGS=y

# MUIC
CONFIG_SM5502_MUIC=y
# CONFIG_MUIC_SM5502_SUPPORT_LANHUB_TA is not set
CONFIG_MUIC_SUPPORT_RUSTPROOF=y
CONFIG_USBID_STANDARD_VER_01=y

#Touch Screen
#CONFIG_TOUCHSCREEN_IST30XX=y
CONFIG_TOUCHSCREEN_ZINITIX_BT541=y

#LCD
#CONFIG_FB_MSM_MIPI_HX8389C_QHD_VIDEO_PANEL=y
CONFIG_PANEL_HX8389C_GH9607501A_QHD=y
CONFIG_PANEL_S6D78A0_GH9607501A_QHD=y
CONFIG_FB_MSM_MDSS_SAMSUNG=y

#CHARGING/BATTERY
CONFIG_MFD_RT5033=y
CONFIG_MFD_RT5033_RESET_GPIO=n
CONFIG_MFD_RT5033_SLDO_VBUSDET=y
CONFIG_BATTERY_SAMSUNG=y
CONFIG_BATTERY_SAMSUNG_DATA_FILE="fortuna_battery_data.h"
CONFIG_SAMSUNG_LPM_MODE=y
CONFIG_CHARGER_RT5033=y
CONFIG_FUELGAUGE_RT5033=y
CONFIG_REGULATOR_RT5033=y

# VIBRATOR
CONFIG_MSM_VIBRATOR=y

#SENSOR
CONFIG_SENSORS=y
CONFIG_SENSORS_CORE=y
CONFIG_SENSORS_K303C=y
CONFIG_SENSORS_GP2A002=y
CONFIG_SENSORS_GP2A_VDD=y

#FLASH
CONFIG_FLASHLIGHT=y
CONFIG_RT_FLASH_LED=y
CONFIG_FLED_RT5033=y
CONFIG_FLED_RT5033_EXT_GPIO=y

# CAMERA
CONFIG_IMX219=y
CONFIG_S5K5E3YX=y

#APC CPR QUOTIENT
CONFIG_APC_CPR_QUOT_BOOST=y

#optimize mmc block delay on resume
#CONFIG_MMC_BLOCK_DEFERRED_RESUME=y

# RTCC v3
CONFIG_SWAP=y
CONFIG_FRONTSWAP=y
CONFIG_ZSMALLOC=y
CONFIG_ZSWAP=y

# DUAL SIM / SINGLE SIM Detection
#CONFIG_CHECK_SIMSLOT_COUNT=y
#CONFIG_CHECK_SIMSLOT_COUNT_GPIO=1008
