CONFIG_SEC_GTEL_PROJECT=y
CONFIG_MACH_GTELWIFI_USA_OPEN=y

# HARD RESET
CONFIG_RESTART_REASON_SEC_PARAM=y

# GPIO SETTING
CONFIG_SEC_GPIO_SETTINGS=y

# MUIC
CONFIG_MUIC_SUPPORT_RUSTPROOF=y
CONFIG_USBID_STANDARD_VER_01=y
CONFIG_SM5703_MUIC=y
CONFIG_MUIC_SM5703_SUPPORT_LANHUB_TA=y
# CONFIG_MUIC_SUPPORT_VZW_INCOMPATIBLE is not set
# CONFIG_MUIC_SUPPORT_CHARGING_CABLE is not set

#USB HOST
CONFIG_USB_HOST_NOTIFY=y

#Touch Key
#CONFIG_KEYBOARD_ABOV_TOUCH_A5=y

#Touch Screen
#CONFIG_TOUCHSCREEN_MMS300_A=y
CONFIG_TOUCHSCREEN_ZT7554_TS=y
CONFIG_INPUT_BOOSTER=y

# Vibrator
CONFIG_SM5703_VIBRATOR=n

#SENSORS
CONFIG_SENSORS=y
CONFIG_SENSORS_CORE=y
CONFIG_SENSORS_K2HH=y
CONFIG_SENSORS_K2HH_VDD=y
CONFIG_SENSORS_SX9500=y
CONFIG_SENSORS_SX9500_NORMAL_TOUCH_THRESHOLD=7
CONFIG_SENSORS_SX9500_INIT_TOUCH_THRESHOLD=2000
CONFIG_SENSORS_SX9500_REGULATOR_ONOFF=y
CONFIG_SENSORS_SX9500_DEFENCE_CODE_FOR_TA_NOISE=y
CONFIG_SENSORS_SX9500_WIFI=y
CONFIG_SENSORS_SX9500_WIFI_NORMAL_TOUCH_THRESHOLD=4
CONFIG_SENSORS_SX9500_WIFI_INIT_TOUCH_THRESHOLD=2000
CONFIG_SENSORS_SX9500_WIFI_REGULATOR_ONOFF=y
CONFIG_SENSORS_SX9500_WIFI_DEFENCE_CODE_FOR_TA_NOISE=y

#AUDIO
CONFIG_RADIO_IRIS=y
CONFIG_RADIO_IRIS_TRANSPORT=m
#CONFIG_AUDIO_SPEAKER_OUT_NXP_AMP_ENABLE=y
#CONFIG_AUDIO_QUAT_I2S_ENABLE=y

#DISPLAY
CONFIG_PANEL_NT51017_B4P096WX5VP09_WXGA=y

#optimize mmc block delay on resume
CONFIG_MMC_BLOCK_DEFERRED_RESUME=y

#BATTERY
CONFIG_MFD_SM5703=y
CONFIG_FUELGAUGE_SM5703=y
CONFIG_CHARGER_SM5703=y
CONFIG_REGULATOR_SM5703=y
CONFIG_BATTERY_SAMSUNG=y
CONFIG_BATTERY_SAMSUNG_DATA_FILE="gtel_battery_data.h"
CONFIG_SAMSUNG_LPM_MODE=y
CONFIG_CHARGING_VZWCONCEPT=y
CONFIG_BATTERY_SWELLING=y
CONFIG_BATTERY_SWELLING_SELF_DISCHARGING=y
CONFIG_SIOP_CHARGING_LIMIT_CURRENT=700
CONFIG_CHARGER_SM5703_SOFT_START_CHARGING=y
CONFIG_PREVENT_SOC_JUMP=y

#FLASH
CONFIG_FLASHLIGHT=y
CONFIG_RT_FLASH_LED=y
CONFIG_FLED_RT5033=y
CONFIG_FLED_RT5033_EXT_GPIO=y

#CAMERA
CONFIG_S5K4ECGX=y
CONFIG_SR200PC20=y
CONFIG_SENSOR_8_BPP=y
CONFIG_CAMERA_SYSFS_V2=y

#IPSec
CONFIG_CRYPTO_NULL=y
#MMC
#CONFIG_SEC_HYBRID_TRAY=y
#
# Bluetooth deconfig
#
CONFIG_BT=y
# CONFIG_BT_RFCOMM=y is not set
# CONFIG_BT_RFCOMM_TTY=y is not set
# CONFIG_BT_BNEP=y is not set
# CONFIG_BT_BNEP_MC_FILTER=y is not set
# CONFIG_BT_BNEP_PROTO_FILTER=y is not set
CONFIG_BT_HIDP=y
CONFIG_HID_SUPPORT=y
CONFIG_HID=y
CONFIG_HIDRAW=y
# CONFIG_BT_HCISMD=y is not set
# CONFIG_BT_HCIUART=y is not set
# CONFIG_BT_HCIUART_H4=y is not set

# Special HID drivers
CONFIG_HID_A4TECH=y
CONFIG_HID_ACRUX=y
# CONFIG_HID_ACRUX_FF is not set
CONFIG_HID_APPLE=y
CONFIG_HID_BELKIN=y
CONFIG_HID_CHERRY=y
CONFIG_HID_CHICONY=y
CONFIG_HID_PRODIKEYS=y
CONFIG_HID_CYPRESS=y
CONFIG_HID_DRAGONRISE=y
CONFIG_HID_EMS_FF=y
CONFIG_HID_ELECOM=y
CONFIG_HID_EZKEY=y
CONFIG_HID_KEYTOUCH=y
CONFIG_HID_KYE=y
CONFIG_HID_UCLOGIC=y
CONFIG_HID_WALTOP=y
CONFIG_HID_GYRATION=y
CONFIG_HID_TWINHAN=y
CONFIG_HID_KENSINGTON=y
CONFIG_HID_LCPOWER=y
CONFIG_HID_LOGITECH=y
CONFIG_HID_MAGICMOUSE=y
CONFIG_HID_MICROSOFT=y
CONFIG_HID_MONTEREY=y
CONFIG_HID_MULTITOUCH=y
CONFIG_HID_NTRIG=y
CONFIG_HID_ORTEK=y
CONFIG_HID_PANTHERLORD=y
CONFIG_HID_PETALYNX=y
CONFIG_HID_PICOLCD=y
# CONFIG_HID_PICOLCD_FB is not set
# CONFIG_HID_PICOLCD_BACKLIGHT is not set
# CONFIG_HID_PICOLCD_LCD is not set
# CONFIG_HID_PICOLCD_LEDS is not set
CONFIG_HID_QUANTA=y
CONFIG_HID_ROCCAT=y
CONFIG_HID_ROCCAT_COMMON=y
CONFIG_HID_ROCCAT_ARVO=y
CONFIG_HID_ROCCAT_KONE=y
CONFIG_HID_ROCCAT_KONEPLUS=y
CONFIG_HID_ROCCAT_KOVAPLUS=y
CONFIG_HID_ROCCAT_PYRA=y
CONFIG_HID_SAMSUNG=y
CONFIG_HID_SYNAPTICS_BT=y
CONFIG_HID_SONY=y
CONFIG_HID_SUNPLUS=y
CONFIG_HID_GREENASIA=y
CONFIG_HID_SMARTJOYPLUS=y
CONFIG_HID_TOPSEED=y
CONFIG_HID_THRUSTMASTER=y
CONFIG_HID_WACOM=y
CONFIG_HID_WACOM_POWER_SUPPLY=y
CONFIG_HID_ZAGG=y
CONFIG_HID_ZEROPLUS=y
CONFIG_HID_ZYDACRON=y



#APC CPR QUOTIENT
CONFIG_APC_CPR_QUOT_BOOST=y

# SDP
CONFIG_SDP=y

# EXTEND SERIAL NUM LENGTH
CONFIG_EXTEND_SERIAL_NUM_16=y

# SSWAP
CONFIG_SWAP=y
CONFIG_FRONTSWAP=y
CONFIG_ZSMALLOC=y
CONFIG_PGTABLE_MAPPING=y
CONFIG_ZSWAP=y
CONFIG_ZPOOL=y
CONFIG_DIRECT_RECLAIM_FILE_PAGES_ONLY=y
CONFIG_INCREASE_MAXIMUM_SWAPPINESS=y
CONFIG_FIX_INACTIVE_RATIO=y
CONFIG_TIGHT_PGDAT_BALANCE=y
CONFIG_VNSWAP=y
CONFIG_SWAP_ENABLE_READAHEAD=n
CONFIG_MMAP_READAROUND_LIMIT=16
