#
# Zinitix BT532 Touchscreen driver
#

config TOUCHSCREEN_ZINITIX_BT532
	tristate "ZINITIX BT532 I2C Touchscreen"
	depends on I2C
	help
	  Say Y here if you have Zinitix BT541 I2C touchscreen,
	  such as BT532, connected to your system.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called BT541.
