#
# Zinitix zt75xx Touchscreen driver configuration
#

config TOUCHSCREEN_ZT7538
	tristate "ZINITIX zt7538 I2C touchscreen driver"
	depends on I2C
	help
	  Say Y here if you have Zinitix zt7538 I2C touchscreen,
	  such as zt75xx, connected to your system.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called zt7538.